h2.texto{
    font-size: 70px;
    color: WHITE;
    font-family: "Kode Mono", monospace;
    text-align: center;
}
p.texto{
    font-size: 50px;
    color: white;
    font-family: "Kode Mono", monospace;
    text-align: center;
}
body{
    background-color: #000;
    height: 100vh;
}
